
<!-- wow deal -->
<div>
  <div class="container">
  
    <div class="row">
      <div class="col-12 text-center p-5"><h2>Meat Fresh Deals</h2>
  
      <div class="row text-center p-5">
        <div class="col-lg-3 col-md-4 col-sm-6">
         
        <div class="px-4">
          <h5><span class=" float-left badge rounded-0 badge-danger">On Sale!</span></h5>
          <img src="../assets/images/products/al-dhafra-dates-2kg-box.jpg" alt="" width="98%"><br>
          <span>Al Dhafra Dates 2kg Box</span><br>
          <p><s>AED22.75</s><strong class="text-danger"><h5 >AED <span #Proval>{{quantity1*18.75}}</span></h5></strong></p>
          <p>Approx 2kg per Pack  (UAE) </p>

          <form action="/">
            <label for="quantity">Quantity </label>
            <input type="number" #quantity id="quantity" name="quantity" min="1" max="10" [(ngModel)]="quantity1">
           <button (click)=getVal(Proval)>Price</button>
          </form>
                  
</div>
  
  
      </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
         
          <div class="px-4">
            <h5><span class=" float-left badge rounded-0 badge-danger">On Sale!</span></h5>
            <img src="../assets/images/products/al-taam-breaded-chicken-fillet-280g.jpg" alt="" width="98%"><br>
            <span>Al Taam Breaded Chicken Fillet 280g</span><br>
            <p><s>AED14.95 </s><strong class="text-danger"><h5> AED 7.95</h5></strong></p>
            <p>280g</p>
            
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="px-4">
            <h5><span class=" float-left badge rounded-0 badge-danger">On Sale!</span></h5>
            <img src="../assets/images/products/alokozay-green-tea-100-tea-bags-mug.jpg" alt="" width="98%"><br>
            <span>Alokozay Green Tea 100 Tea Bags + Mug</span><br>
            <p><s>AED 12.80</s><strong class="text-danger"><h5> AED 9.40</h5></strong></p>
            <p>100 Tea Bags</p>
            
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="px-4">
            <h5><span class=" float-left badge rounded-0 badge-danger">On Sale!</span></h5>
            <img src="../assets/images/products/aseel-pure-ghee-800ml-buy-2-get-1-free.jpg" alt="" width="98%"><br>
            <span>Aseel Pure Ghee 800ml BUY 2 GET 1 FREE</span><br>
            <p><s>AED98.75</s><strong class="text-danger"><h5> AED 83.20</h5></strong></p>
            <p>800ml X 3 Pack</p>
            
          </div>
        </div>
      </div>
  <!-- Product row -->
      <div class="row text-center p-5">
        <div class="col-lg-3 col-md-4 col-sm-6">
         
        <div class="px-4">
          <h5><span class=" float-left badge rounded-0 badge-danger">On Sale!</span></h5>
          <img src="../assets/images/products/banana-cavendish.jpg" alt="" width="98%"><br>
          <span>Banana Cavendish</span><br>
          <p><s>AED3.75</s><strong class="text-danger"><h5> AED 2.91</h5></strong></p>
          <p>4-6 pieces per kg...
   </p>
  
        </div>
  
  
      </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
         
          <div class="px-4">
            <h5><span class=" float-left badge rounded-0 badge-danger">On Sale!</span></h5>
            <img src="../assets/images/products/carrot.jpg" alt="" width="98%"><br>
            <span>Carrot</span><br>
            <p><s>AED3.79 </s><strong class="text-danger"><h5> AED 3.65</h5></strong></p>
            <p>4-6 pieces per 500g...
  
            </p>
            
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="px-4">
            <h5><span class=" float-left badge rounded-0 badge-danger">On Sale!</span></h5>
            <img src="../assets/images/products/dahab-fine-roasted-pista-500g.jpg" alt="" width="98%"><br>
            <span>Dahab Fine Roasted Pista 500g</span><br>
            <p><s>AED 33.80</s><strong class="text-danger"><h5> AED 32.42</h5></strong></p>
            <p>500g Per Pack
  
            </p>
            
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="px-4">
            <h5><span class=" float-left badge rounded-0 badge-danger">On Sale!</span></h5>
            <img src="../assets/images/products/falcon-fresh-frozen-mixed-vegetables-400g.jpg" alt="" width="98%"><br>
            <span>Falcon Fresh Frozen Mixed Vegetables 400g</span><br>
            <p><s>AED 4.99</s><strong class="text-danger"><h5> AED 2.49</h5></strong></p>
            <p>400g</p>
            
          </div>
        </div>
      </div>
      <!-- Product row -->
        <!-- view all section -->
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-success rounded-0 float-lg-right"><a  class="nav-link text-white" routerLinkActive="acti ve" routerLink="/products">View All</a></button>
        <!-- <button class="btn btn-success rounded-0 float-lg-right">View All </button> -->
    </div>
    </div>
    <!-- view all section end-->
    </div>
  
  </div>
  
  </div>
  
      </div>
  <!-- wow deal end -->