
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-pushsplice></app-pushsplice> -->
<div class="">
  
    <!-- <nav class="site-header sticky-top py-1  ">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
         <ul class="nav nav-tabs">
            <a class="navbar-brand" href="#">
            <img src="../assets/images/logo.svg" width="200px" alt="">  
            </a>
            
             <li class="nav-items"><a  class="nav-link" routerLinkActive="active" routerLink="/home">home</a></li>
             <li class="nav-items"><a  class="nav-link" routerLinkActive="active" routerLink="/aboutus">About</a></li>
             <li class="nav-items"><a  class="nav-link" routerLinkActive="active" routerLink="/products">Products</a></li>
             <li class="nav-items"><a  class="nav-link" routerLinkActive="active" routerLink="/contactus">Contactus</a></li>
         </ul>
           
        </div>
      </nav> -->

      <nav class="navbar navbar-expand-lg navbar-light bg-light  ">
        <a class="navbar-brand" href="#">
          <img src="../assets/images/logo.svg" width="200px" alt="">  
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse xd-flex xjustify-content-between" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link text-danger active"  routerLinkActive="active" routerLink="/home"><strong>Home</strong></a>
            <a class="nav-link text-danger" routerLinkActive="active" routerLink="/aboutus"><strong>About us</strong></a>
            <a class="nav-link text-danger"  routerLinkActive="active" routerLink="/products"><strong>Products</strong></a>
            <a class="nav-link text-danger" routerLinkActive="active" routerLink="/contactus"><strong>Contactus</strong></a>
          </div>
          
        <!-- <div class="">
          <div class="d-flex justify-content-around text-white ">
            <div><i class="text-secondary fab fa-facebook-f p-2"></i></div>
            <div><i class="text-secondary fab fa-youtube p-2"></i></div>
            <div><i class="text-secondary fab fa-twitter p-2"></i></div>
            <div><i class="text-secondary fab fa-instagram p-2"></i></div>
          </div>
        </div>  -->

        </div>
      </nav>

      <div class="">
      <router-outlet></router-outlet>
    </div>

   <app-footer></app-footer>
</div>

