.site-header{
background-color: #e0e0e0;
}
#scart{
    position:absolute;
       top:0;
       right:0;
       z-index: 22;
       width: 25%;
    }
    #scart.show{
        display: visible;
    }
    #scart.hide{
        display: none;
    }

    .imgview {
        width: 150px;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

.btn-clear{
margin: 10px;
width: 100px;
background-color: grey;
height: 40px;
line-height: 40px;
border-radius: 8px;
color:white;
text-align: center;
float: right;
    }