<!-- wow deal -->
<div class="container">
    <div class="text-center p-5">
        <h2>{{category}} Fresh Deals </h2>
    </div>
    <div *ngIf="category=='Fruits'">MAJID ULLAH KHAN</div>
    <div class="row">
        <ng-container *ngFor="let p of data">
            <div class=" col-lg-3 my-2 px-2">
                <div class="px-4">
                    <h5><span class=" badge rounded-0 badge-danger">On Sale!</span></h5>
                    <div class="imgview" style="background-image: url('assets/images/products/{{p.image}}');"></div>
                    <span>{{p.Name}}</span><br>
                    <p><s>{{p.OldPrice}} {{p.Unit}}</s><strong class="text-danger">
            <h5> <span #Proval>{{p.Quantity*p.NewPrice}} {{p.Unit}}</span></h5>
          </strong></p>
                    <p>Approx 2kg per Pack (UAE) </p>

                    <form action="/">
                        <label for="quantity">Quantity </label>
                        <input type="number" #quantity id="quantity" name="quantity" min="1" max="10" [(ngModel)]="p.Quantity" class="px-2">
                        <button (click)=getVal(p)>Cart</button>

                    </form>

                </div>

            </div>
        </ng-container>
    </div>
    <!-- <div class="">
  <div class="text-center p-5">
    <h2>Meat Fresh Deals</h2>
    <div class="text-center p-5 row">
      <div class="">

        <ng-container *ngFor="let p of data">
          <div class=" bg-success col-lg-4 border">

            <div class="px-4 ">
              <h5><span class=" badge rounded-0 badge-danger">On Sale!</span></h5>
              <img src="../assets/images/products/Vegetables/{{p.image}}" alt="" width="98%"><br>
              <span>{{p.Name}}</span><br>
              <p><s>{{p.OldPrice}}</s><strong class="text-danger">
                  <h5>AED <span #Proval>{{p.NewPrice}}</span></h5>
                </strong></p>
              <p>Approx 2kg per Pack (UAE) </p>

              <form action="/">
                <label for="quantity">Quantity </label>
                <input type="number" #quantity id="quantity" name="quantity" min="1" max="10"
                  [(ngModel)]="p.Quantity">
                <button (click)=getVal(Proval)>Price</button>
              </form>

            </div>

          </div>
        </ng-container>
      </div>

    </div>

  </div>

</div>

</div> -->
    <!-- wow deal end -->